.slide{
    position: relative;
    top: 0;
    left: 0;
    width: 310px;
    height: 233px;
    display: inline-block;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.hero{
    position: relative;
    top: 0;
    left: 0;
    width: inherit;
}

.image{
    position: relative;
    bottom: 213px;
    left: 80px;
    opacity: 0.8;
}
.text{
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    bottom: 100%;
    left: 80px;
    width: 150px;
}